@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body{
  font-family: 'Inter';
  background-color: white;
}

html {
  scroll-behavior: smooth;
}

header{
  height: fit-content;
  background-image: url('hero_image.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Utility classes*/
.gold {
  color: #9A6811;
}
/* Utility classes*/

.navbar{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: rgba(50.2, 50.2, 50.2, 0.7);
}

.navbar ul{
  list-style-type: none;
  display: inline-flex;
  flex-wrap: no-wrap;
  gap: 5vw;
  margin-right: 9vw;
  margin-left: 9vw;
  align-items: center;
}

.navbar a{
  text-decoration: none;
  color: white;  
}

.cta{
  background-color: rgb(161, 100, 31);
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  white-space: nowrap;
}

.logo{
  margin-right: auto;
  margin-left: 9vw;
  font-family: 'Berkshire Swash';
  color:white;
  font-size: calc(20px + 2vw);
}

.hero-text{
  padding-top: 200px;
  margin-left: 9vw;
  padding-bottom: 100px;
}

.hero-text h1{
  font-weight: 700;
  font-size: 101px;
  color: white;
}
.hero-text p{
  padding-top: 30px;
  color:white;
  font-size:28px;
}

.section-1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20vw;
  padding-top: 80px;
}

.section-1 p{
  margin-right: 9vw;
}

.section-2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20vw;
  padding-top: 40px;
  padding-bottom:80px;
}

.section-2 p{
  margin-left: 9vw;
}

div[class^="section"] p{
  font-size: 1.7vw;
  font-size: calc(12px + 1vw);
  color: white;
  width: 600px;
}

.section-title{
  font-size: 150%;
  font-weight: 700;
  color:white;
  white-space: nowrap;
}

.brush-icon{
  margin-left: 9vw;
  width: 20vw;
  height: 20vw;
}

.chat-icon {
  margin-right: 9vw;
  width: 20vw;
  height: 20vw;
}


.info{
  background-color: #393939;
}

.gallery{
  background-color: #D9D9D9;
}

.gallery-title{
  display: flex;
  justify-content: center;
  padding-top: 5vw;
  font-weight: 700;
  font-size: 50px;
  color: #393939;
}

.gallery-title h1{
  font-size: 5vw;
}

.grid-images{
  display: grid;
  width: 100%;
  background-color: #D9D9D9;
  gap: 2vw;
  padding-top: 5vw;
  padding-left: 9vw;
  padding-right: 9vw;
  padding-bottom: 5vw;
}

span[class^="image-"] p{
  display: flex;
  align-items: flex-end;
  color: white;
  
  padding-left: 2vw;
  padding-bottom: 2vw;
  height: 100%;
  
  font-style: italic;
  font-size: 28px;
}

span[class^="image-"]{
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3vw;
}

.image-1{
  background-image: url("gallery-images/The_Medievalist_An_endless_expanse_of_wind_blown_desert_dunes_u_1b08770a-7b38-4668-8adc-ddfa770d5bad.png");
  grid-area:one;
}
.image-2{
  background-image: url("gallery-images/MarVin_NFT_Character_full-body_goddess_of_afterlife_carved_from_14252714-bc7a-4206-8b84-b3ee4ffea1bc.png");
  grid-area:two;
}
.image-3{
  background-image: url("gallery-images/Jeppe_mid_futuristic_single_neon_strip_shoes_4K_hyper_realistic_7cf5601a-adcf-4af1-89df-812e473d2dbc.png");
  grid-area:three;
}
.image-4{
  background-image: url("gallery-images/Jeppe_create_a_visually_appealing_coffee_on_a_wooden_table_with_94259381-04be-4cbd-b846-1ef0e2539b09.png");
  grid-area:four;
}
.image-5{
  background-image: url("gallery-images/sotos_Eva_in_paradise_Eva_is_a_surreal_fairy_God_illuminates_th_7c24abc2-b890-4a33-aabf-20afd316c89c.png");
  grid-area:five;
}
.image-6{
  background-image: url("gallery-images/uohuio.png");
  grid-area:six;
}
.image-7{
  background-image: url("gallery-images/baby_HDLR_avatar.jpg");
  grid-area:seven;
}
.image-8{
  background-image: url("gallery-images/OrderedEntropy_The_ladyclown_killer_beauty_7c5db796-28af-44dc-848d-268dd4ebceb3.png");
  grid-area:eight;
}
.image-9{
  background-image: url("gallery-images/dreamer_birds_eye_view_of_a_cyberpunk_brutalist_utopian_landsca_7daada69-5df0-4c8f-aefe-092270730bd4.png");
  grid-area:nine;
}
.image-10{
  background-image: url("gallery-images/Groucho_beautiful_colorful_trippy_1970s_retro_sci-fi_pop_surrea_701b0ae7-95e8-49da-ac8a-13a7a0f61c95.png");
  grid-area:ten;
}
.image-11{
  background-image: url("gallery-images/AwesomeAng_a_collage_of_small_vintage_wooden_toys_79da4965-79f9-41c8-8ebf-83eca515f412.png");
  grid-area:eleven;
}
.image-12{
  background-image: url("gallery-images/Triaphom_martian_landscape_46d9727d-48a5-4c6e-b9c7-ad0598e4117b.png");
  grid-area:twelve;
}

footer{
  height: 300px;
  background-color: #393939;
  color: white;
}

.icons{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8vw;
  fill:#D9D9D9;
}

.icons svg:hover{
  fill: #9A6811;
}

.icons svg{
  height: 100px;
  width: 100px;
}

.hamburger{
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  margin-right: 9vw;

  appearance: none;
  background:none;
  outline: none;
  border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: white;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before{
  transform: rotate(-45deg) translate(-8px, 6px);
}
.hamburger.is-active:after{
  transform: rotate(45deg) translate(-9px, -8px);
}
.hamburger.is-active .bar{
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  left: 100%;
  width: 100%;
  margin-top: 100px;
  padding-top: 16px;
  z-index: 98;
  background-color: rgba(50.2, 50.2, 50.2, 0.7);
  transition: 0.8s;
}

.mobile-nav.is-active{
  left: 0;
  display: flex;
  flex-direction: column;
}

.mobile-nav a{
  display: block;
  width: 100%;
  max-width: 300px;
  text-align: center;
  margin-bottom: 35px;
  padding: 12px;
  background-color: grey;
  color:white;
  text-decoration: none;
  border-radius: 5px;
}

.mobile-nav a:hover{
  background-color: #9A6811;
}

@media (min-width: 1400px){
  .grid-images{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(7, auto);
    height: 3000px;
    grid-template-areas: 
    'one one two'
    'three four two'
    'five six seven'
    'five eight eight'
    'nine ten eleven'
    'nine ten eleven'
    'twelve twelve twelve';
  }
}

@media (max-width: 1400px){
  .grid-images{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(10, 27vw);
    grid-template-areas: 
    'one one'
    'three four'
    'two five'
    'two five'
    'six eleven'
    'eight eight'
    'nine ten'
    'nine ten'
    'seven seven'
    'twelve twelve';
  }
  
  .image-7{
    background-position:center;
  }
}

@media (max-width: 1024px){
  .navbar ul{
    display: none;
  }
  .icons{
    gap: 6vw;
  }
}

@media (max-width: 768px){
  .section-1,.section-2{
    flex-direction: column;
    justify-content: center;
    gap: 0;
    padding-right: 0;
  }

  .section-2{
    flex-direction: column-reverse;
    /*haha, äntligen ett use case för detta*/
  }

  .section-1 p, .section-2 p {
    margin: 0;
    width: 100%;
    text-align: center;
    padding-right: 10vw;
    padding-left: 10vw;
  }

  .brush-icon, .chat-icon{
    width: 45vw;
    height: 45vw;
    margin: 0;
  }

  .section-title{
    white-space: normal;
  }

  .grid-images{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(16, 60vw);
    grid-template-areas: 
    'one'
    'two'
    'two'
    'three'
    'four'
    'five'
    'five'
    'six'
    'seven'
    'eleven'
    'eight'
    'nine'
    'nine'
    'ten'
    'ten'
    'twelve';
    
  }

  .gallery-title h1{
    font-size: 7vw;
  }

  .logo{
    font-size: 8vw;
  }

  .hero-text h1{
    font-size: 12vw;
  }

  .hero-text p{
    font-size: 3.5vw;
    padding-top: 20px;
  }

  .hero-text{
    padding-top: 150px;
    padding-bottom: 50px;
  }

  header{
    height: fit-content;
  }

  span[class^="image-"] p{
    font-size: 6vw;
  }

  .icons svg{
    height: 10vw;
    width: 10vw;
    gap: 2vw;
  }

  footer{
    height: 20vw;
  }
}

@media (min-width: 1024px) {
  .mobile-nav{
    display: none;
  }

  .hamburger{
    display: none;
  }
}

