@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body{
  font-family: 'Inter';
  background-color: white;
  
}

main{
  
  
}

header{
  height: 600px;
  background-image: url('hero_image.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100px;
  background-color: rgba(50.2, 50.2, 50.2, 0.7);
  
  
  
}

.navbar li{

}

.navbar ul{
  list-style-type: none;
  display: inline-flex;
  flex-wrap: no-wrap;
  gap: 5vw;
  margin-right: 9vw;
  margin-left: 9vw;
  align-items: center;
  
}

.navbar a{
  text-decoration: none;
  color: white;  
}

.cta{

  background-color: rgb(161, 100, 31);
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  white-space: nowrap;
}

.logo{
  margin-right: auto;
  margin-left: 9vw;
  
  font-family: 'Berkshire Swash';
  color:white;
  font-size: calc(20px + 2vw);
}
/* Artificial Intelligence */
.hero-text{
  
  margin-left: 9vw;
  margin-top: 80px;
}
/* Artificial Intelligence */

.hero-text{
  font-family: 'Inter';
}
.hero-text h1{
  font-weight: 700;
  font-size: 101px;
  color: white;
}
.hero-text p{
  padding-top: 30px;
  color:white;
  font-size:28px;
}
.gold{
  color: #9A6811;
}


.section-1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20vw;
  padding-top: 80px;
}
.section-1 p{
  margin-right: 9vw;
  width: 600px;
}
.section-2 p{
  margin-left: 9vw;
  width: 600px;
}
div[class^="section"] p{
  font-size: 1.7vw;
  font-size: calc(12px + 1vw);
  color: white;
}
.section-title{
  font-size: 150%;
  font-weight: 700;
  color:white;
  white-space: nowrap;
}

.brush-icon{
  margin-left: 9vw;
  width: 20vw;
  height: 20vw;
}
.chat-icon {
  margin-right: 9vw;
  width: 20vw;
  height: 20vw;
}

.section-2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20vw;
  padding-top: 40px;
  padding-bottom: 80px;
}
.info{
  background-color: #393939;
  
}

.gallery{
  background-color: #D9D9D9;
  
}

.gallery-title{
  display: flex;
  justify-content: center;
  padding-top: 120px;
  font-weight: 700;
  font-size: 50px;
  color: #393939;
}

.grid-images{
  display: grid;
  width: 100%;
  height: 3000px;
  background-color: #D9D9D9;
  grid-template-areas: 
  'one one two'
  'three four two'
  'five six seven'
  'five eight eight'
  'nine ten eleven'
  'nine ten eleven'
  'twelve twelve twelve';
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-top: 50px;
  padding-left: 9vw;
  padding-right: 9vw;
}

.image-1{
  background-image: url("/hero_image.png");
  grid-area:one;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-1 p{
  display: flex;
  align-items: flex-end;
  color: white;
  
  padding-left: 2vw;
  padding-bottom: 2vw;
  height: 100%;
  padding-top: auto;
  font-style: italic;
  font-size: 28px;
}

.image-2{
  background-image: url("/gavin-zhao-nrOIwsMTbck-unsplash.jpg");
  grid-area:two;
  background-repeat: no-repeat;
  background-size: cover;
}
.image-3{
  background-image: url("/gavin-zhao-nrOIwsMTbck-unsplash.jpg");
  grid-area:three;
  background-repeat: no-repeat;
  background-size: cover;
}
.image-4{
  background-image: url("/gavin-zhao-nrOIwsMTbck-unsplash.jpg");
  grid-area:four;
  background-repeat: no-repeat;
  background-size: cover;
}
.image-5{
  background-image: url("/gavin-zhao-nrOIwsMTbck-unsplash.jpg");
  grid-area:five;
  background-repeat: no-repeat;
  background-size: cover;
}
.image-6{
  background-image: url("/gavin-zhao-nrOIwsMTbck-unsplash.jpg");
  grid-area:six;
  background-repeat: no-repeat;
  background-size: cover;
}
.image-7{
  background-image: url("/gavin-zhao-nrOIwsMTbck-unsplash.jpg");
  grid-area:seven;
  background-repeat: no-repeat;
  background-size: cover;
}
.image-8{
  background-image: url("/gavin-zhao-nrOIwsMTbck-unsplash.jpg");
  grid-area:eight;
  background-repeat: no-repeat;
  background-size: cover;
}
.image-9{
  background-image: url("/gavin-zhao-nrOIwsMTbck-unsplash.jpg");
  grid-area:nine;
  background-repeat: no-repeat;
  background-size: cover;
}
.image-10{
  background-image: url("/gavin-zhao-nrOIwsMTbck-unsplash.jpg");
  grid-area:ten;
  background-repeat: no-repeat;
  background-size: cover;
}
.image-11{
  background-image: url("/gavin-zhao-nrOIwsMTbck-unsplash.jpg");
  grid-area:eleven;
  background-repeat: no-repeat;
  background-size: cover;
}
.image-12{
  background-image: url("/gavin-zhao-nrOIwsMTbck-unsplash.jpg");
  grid-area:twelve;
  background-repeat: no-repeat;
  background-size: cover;
}

span[class^="image-"]{
  border-radius: 3vw;
}
footer{
  height: 200px;
  background-color: black;
  color: white;
  bottom: 0;
}


@media (max-width: 1024px){
  .logo{
    color: aquamarine;
  }
  .navbar ul{
    visibility: hidden;
  }
}

